<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="/css/user_add_style.css">
</head>
<body>
    <p id="layout" class="h2">
        Информация о добавленном пользователе
    </p>
    <form class="fortop" th:object="${user}"}>
        <p class="text-center">
            <label for="firstName">Имя</label>
            <input id="firstName" th:value="${user.firstName}" type="text" size="25" disabled><br/>

            <label for="middleName">Отчество</label>
            <input id="middleName" th:value="${user.middleName}" type="text" size="25"
                   disabled><br/>

            <label for="lastName">Фамилия</label>
            <input id="lastName" th:value="${user.lastName}" type="text" size="25" disabled><br/>

            <label for="username">Логин</label>
            <input id="username" th:value="${user.username}" type="text" size="25" disabled><br/>


            <label for="password">Пароль</label>
            <input id="password" th:value="${user.password}" type="password" size="25" disabled><br/>

            <label for="roles">Роли</label>
            <input id="roles" th:value="${user.roles}" type="text" size="25" disabled>
        </p>
        <p class="text-center">
        <button type="button" class="btn btn-info" onclick="location.href='/admin/users'">Вернуться к списку пользователей</button>
        </p>
    </form>
</body>
</html>